<div class="panel-content">
    <div class="profile-sec">
        <div class="info-holder">

            <div class="info-pic">
                <span><img src="img/img-placeholder.png" alt="Sachin Tendulkar" class="dp" /></span>
            </div>

            <div class="compny">
                <h3>Virat Kholi</h3>
                <p>Cricket</p>
                <p><i class="ln-map-marker"></i> Mumbai, India</p>
            </div>

            <div class="basic-info">
                <div class="info-item">
                    <p>Male</p>
                    <h1>Gender</h1>
                </div>
                <div class="info-item">
                    <p>+919833930331</p>
                    <h1>Phone Number</h1>
                </div>
                <!--
                <div class="info-item">
                    <p>$50</p>
                    <h1>Coach Asking Price</h1>
                </div>-->
            </div>

            <button class="btn-right btn btn-success" ui-sref="athletes-profile-edit"><i class="ln-pencil"></i></button>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="pie-chart-sec profile-detail">
                    <!--<div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Gender</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p>Male</p>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Date of Birth</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p>November 5, 1988</p>
                        </div>
                    </div>
                    <!--<div class="row">
                            <div class="col-md-2 col-sm-3">
                                <p class="text-uppercase p-title">Phone Number</p>
                            </div>
                            <div class="col-md-10 col-sm-9">
                                <p>+919833930331</p>
                            </div>
                        </div>-->
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Email Address</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p>coach@gmail.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Event(s)</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p>
                                <span class="tag-box">ODI</span>
                                <span class="tag-box">Test</span>
                                <span class="tag-box">T20</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Details</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum
                                eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias
                                veniam, ut, libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam,
                                molestias veniam, ut, magnam.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Achievement / Personal Bests</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum
                                eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias
                                veniam, ut, magnam.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Previous Season Review</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum
                                eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias
                                veniam, ut, magnam.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Personal Goals</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <div class="personal-goals">
                                <p class=" mb5">
                                    <span class="p-title">World Cup</span>, <span class="small">23 April,2018</span>
                                </p>
                                <p class="text-justify">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum eum quam libero id pariatur
                                    nam quia minima itaque molestiae sequi maxime sunt totam, molestias veniam, ut, magnam.
                                </p>
                            </div>
                            <div class="personal-goals">
                                <p class=" mb5">
                                    <span class="p-title">T20 World Cup</span>, <span class="small">23 April,2018</span>
                                </p>
                                <p class="text-justify">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum eum quam libero id pariatur
                                    nam quia minima itaque molestiae sequi maxime sunt totam, molestias veniam, ut, magnam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>