<div class="panel-content ng-scope">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">
                    <div class="widget-title">
                        <h3 class="text-uppercase">
                            Edit Profile
                        </h3>
                    </div>

                    <div class="round-form">
                        <form name="editprofile" ng-submit="editProfile(formData);" class="login-section">
                            <div class="edit-photo text-center">
                                <div class="img-hold">
                                    <span><img src="img/sachin.png" alt="Sachin Tendulkar" class="dp"></span>
                                    <div class="icon-btn">
                                        <i class="fa fa-camera" aria-hidden="true"></i></div>
                                </div>
                            </div>
                            <div class="step1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'form-invalid': editprofile.name.$invalid && editprofile.name.$touched}">
                                            <label>Name:</label>
                                            <input type="text" name="name" ng-model="formData.name" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'form-invalid': editprofile.surname.$invalid && editprofile.surname.$touched}">
                                            <label>Surname:</label>
                                            <input type="text" name="surname" ng-model="formData.surname" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'form-invalid': editprofile.email.$invalid && editprofile.email.$touched}">
                                            <label>Email:</label>
                                            <input type="email" name="email" ng-model="formData.email" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'form-invalid': editprofile.contact.$invalid && editprofile.contact.$touched}">
                                            <label>Contact Number:</label>
                                            <input type="tel" name="number" ng-model="formData.contact" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'form-invalid': editprofile.password.$invalid && editprofile.password.$touched}">
                                            <label>Password:</label>
                                            <input type="password" name="password" ng-model="formData.password" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'form-invalid': editprofile.password2.$invalid && editprofile.password2.$touched}">
                                            <label>Re-enter Password:</label>
                                            <input type="password" name="password2" ng-model="formData.password2" class="form-control" required>
                                        </div>
                                    </div>
                                </div>-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': editprofile.gender.$invalid && editprofile.gender.$touched}">
                                        <label>Gender:</label>
                                        <select name="gender" ng-model="formData.gender" class="form-control">
                                            <option selected>Male</option>
                                            <option>Female</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': editprofile.dob.$invalid && editprofile.dob.$touched}">
                                        <label>Date of Birth:</label>
                                        <input type="date" name="dob" ng-model="formData.dob" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': editprofile.limit.$invalid && editprofile.limit.$touched}">
                                        <label>Coaching Limit:</label>
                                        <input type="text" name="limit" ng-model="formData.limit" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': editprofile.price.$invalid && editprofile.price.$touched}">
                                        <label>Asking Price:</label>
                                        <input type="number" name="price" ng-model="formData.price" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': editprofile.city.$invalid && editprofile.city.$touched}">
                                        <label>City/Town:</label>
                                        <input type="text" name="city" ng-model="formData.city" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': editprofile.state.$invalid && editprofile.state.$touched}">
                                        <label>State/Province:</label>
                                        <input type="text" name="state" ng-model="formData.state" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': editprofile.postalCode.$invalid && registerCoach.postalCode.$touched}">
                                        <label>Postal Code:</label>
                                        <input type="text" name="postalCode" ng-model="formData.postalCode" class="form-control" required>
                                    </div>
                                </div>-->
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.country.$invalid && registerCoach.country.$touched}">
                                        <label>Country:</label>
                                        <select name="country" ng-model="formData.country" class="form-control">
                                            <option selected>UK</option>
                                            <option>USA</option>
                                            <option>Canada</option>
                                            <option>Australia</option>
                                            <option>New Zealand</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.year.$invalid && registerCoach.year.$touched}">
                                        <label>Years of Coaching:</label>
                                        <input type="number" placeholder="Years Coaching" name="yearsCoaching" ng-model="formData.yearsCoaching" min="1" max="99"
                                            class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.coaching.$invalid && registerCoach.coaching.$touched}">
                                        <label>Coaching Focus:</label> <br>
                                        <div class="tag-box-label" ng-repeat="c in coachingFocus">
                                            <input type="checkbox" id="{{c}}" checklist-model="formData.coachingFocus" checklist-value="c" name="coachingFocus">
                                            <label for="{{c}}">{{c}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.specialization.$invalid && registerCoach.specialization.$touched}">
                                        <label>Specialization:</label> <br>
                                        <div class="tag-box-label" ng-repeat="s in specialisations">
                                            <input type="checkbox" id="{{s}}" checklist-model="formData.specialisations" checklist-value="s" name="specialisations">
                                            <label for="{{s}}">{{s}}</label>
                                        </div>
                                        <div class="tag-box-label">
                                            <input type="checkbox" id="Others" ng-model="formData.specialisations.otherVal">
                                            <label for="Others">Others</label>
                                        </div>
                                        <div ng-if="formData.specialisations.otherVal">
                                            <input type="text" placeholder="Please mention others" name="others" ng-model="formData.specialisations.others" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': about.freeText.$invalid && about.freeText.$touched}">
                                        <label>About:</label>
                                        <textarea name="freeText" ng-model="formData.about" class="form-control" rows="4" cols="50" required></textarea>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary thick-font">Save</a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>