<div class="panel-content">
    <div class="profile-sec">
        <div class="info-holder">

            <div class="info-pic">
                <span><img src="img/sachin.png" alt="Sachin Tendulkar" class="dp" /></span>
            </div>

            <div class="compny">
                <h3>Sachin Tendulkar</h3>
                <p>Level 3</p>
                <p><i class="ln-map-marker"></i> Mumbai, India</p>
            </div>

            <div class="basic-info">
                <div class="info-item">
                    <p>50</p>
                    <h1>Coaching Limit</h1>
                </div>
                <div class="info-item">
                    <p>2 years</p>
                    <h1>Year of Coaching</h1>
                </div>
                <div class="info-item">
                    <p>$50</p>
                    <h1>Asking Price</h1>
                </div>
            </div>

            <button class="btn-right btn btn-success" ui-sref="coach-profile-edit"><i class="ln-pencil"></i></button>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="pie-chart-sec profile-detail">
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Gender</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p>Male</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Date of Birth</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p>April 24,1973</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Phone Number</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p>+919833930331</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Email</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p>coach@gmail.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">About</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum
                                eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias
                                veniam, ut, magnam.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Coaching Focus</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p>
                                <span class="tag-box">Sprinting</span>
                                <span class="tag-box">Throws</span>
                                <span class="tag-box">Hill/Fell Running</span>
                                <span class="tag-box">Cross Country</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Specialisation</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p><span class="tag-box">Mentored practice</span>
                                <span class="tag-box">Strength and conditioning</span>
                                <span class="tag-box">Eating disorders</span>
                                <span class="tag-box">Children in Athletics</span>
                                <span class="tag-box">Fitness in Running and Walking</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>