<div class="panel-content">
    <div class="profile-sec">
        <div class="info-holder">

            <div class="info-pic">
                <span><img src="img/varun-khali.png" alt="Varun Dhawan" class="dp" /></span>
            </div>

            <div class="compny">
                <h3>Varun Dhawan</h3>
                <p><i class="ln-envelope"></i> coach@gmail.com</p>
                <p><i class="ln-map-marker"></i> Manchester, London</p>
            </div>

            <div class="basic-info">
                <div class="info-item">
                    <p>2 years</p>
                    <h1>Experience</h1>
                </div>
                <div class="info-item">
                    <p>32 years</p>
                    <h1>Age</h1>
                </div>
                <div class="info-item">
                    <p>Male</p>
                    <h1>Gender</h1>
                </div>
            </div>

            <button class="btn-right btn btn-success"><i class="ln-pencil"></i></button>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="pie-chart-sec profile-detail">
                    <div class="profile-option inline-block">
                        <p class="text-uppercase">Sports</p>
                        <p class="text-uppercase">Expertise</p>
                        <p class="text-uppercase">Accomplishments</p>
                        <p class="text-uppercase">Goals</p>
                        <p class="text-uppercase">Contact Number</p>
                        <p class="text-uppercase">Price</p>
                    </div>
                    <div class="option-detail inline-block">
                        <p>Running, Swimming, Cycling.</p>
                        <p>Cycling.</p>
                        <p>Triathlon ‘16, Triathlon ‘15, Marathon ’15</p>
                        <p>Triathlon ‘17</p>
                        <p>+91 9819121212</p>
                        <p>100£ - 150£</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>