<div class="panel-content ng-scope">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">
                    <div class="widget-title">
                        <h3 class="text-uppercase">Blog</h3>
                    </div>
                    <div class="row">
                        <div class="blog-block">
                            <div class="blog-row">
                                <h4 class="pull-left">Lorem Ipsum</h4>
                                <p class="pull-right">12th December, 2016</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="blog-img">
                                <img src="img/ground.png" class="img-responsive" alt="">
                            </div>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro similique ipsa vitae sequi, cum
                                ratione consequatur. Earum nostrum, dolores adipisci dolore, minus explicabo veniam eligendi,
                                in inventore culpa magni repellendus. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Architecto at, temporibus quibusdam, dolorum quis magnam neque id odit perferendis
                                omnis eius veritatis iste tempore quam autem natus. Necessitatibus, inventore, assumenda.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quaerat perferendis quas
                                laudantium, reprehenderit, nihil doloremque dolore neque explicabo esse eligendi repellendus,
                                blanditiis, optio doloribus adipisci rem tempore iusto quis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>