<div class="container">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="pie-chart-sec profile-detail">
                        <div class="widget-title">
                            <h3 class="text-uppercase">FAQ's</h3>
                        </div>
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" heading="what is lorem ipsum?" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                This content is straight in the template.
                            </div>
                            <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded">
                                This content is straight in the template.
                            </div>
                            <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded">
                                This content is straight in the template.
                            </div>
                            <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded">
                                This content is straight in the template.
                            </div>
                            <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded">
                                This content is straight in the template.
                            </div>
                            <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded">
                                This content is straight in the template.
                            </div>
                        </uib-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>