<div class="acount-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="contact-sec no-pad-up some-pad">
                    <div class="login-tab text-center">
                        <ul class="ul-justified ul-nav">
                            <li class="active">Coach Registeration</li>
                        </ul>
                    </div>
                    <form name="registerCoach" ng-submit="register(formData);" class="login-section">
                        <p>All the fields below are mandatory.</p>

                        <div class="step1">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.name.$invalid && registerCoach.name.$touched}">
                                        <label>Name:</label>
                                        <input type="text" name="name" ng-model="formData.name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.surname.$invalid && registerCoach.surname.$touched}">
                                        <label>Surname:</label>
                                        <input type="text" name="surname" ng-model="formData.surname" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.email.$invalid && registerCoach.email.$touched}">
                                        <label>Email:</label>
                                        <input type="email" name="email" ng-model="formData.email" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.contact.$invalid && registerCoach.contact.$touched}">
                                        <label>Contact Number:</label>
                                        <input type="tel" name="number" ng-model="formData.contact" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.password.$invalid && registerCoach.password.$touched}">
                                        <label>Password:</label>
                                        <input type="password" name="password" ng-model="formData.password" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.password2.$invalid && registerCoach.password2.$touched}">
                                        <label>Re-enter Password:</label>
                                        <input type="password" name="password2" ng-model="formData.password2" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.gender.$invalid && registerCoach.gender.$touched}">
                                        <label>Gender:</label>
                                        <select name="gender" ng-model="formData.gender" class="form-control" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.dob.$invalid && registerCoach.dob.$touched}">
                                        <label>Date of Birth:</label>
                                        <input type="date" name="dob" ng-model="formData.dob" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.city.$invalid && registerCoach.city.$touched}">
                                        <label>City/Town:</label>
                                        <input type="text" name="city" ng-model="formData.city" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.state.$invalid && registerCoach.state.$touched}">
                                        <label>State/Province:</label>
                                        <input type="text" name="state" ng-model="formData.state" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.postalCode.$invalid && registerCoach.postalCode.$touched}">
                                        <label>Postal Code:</label>
                                        <input type="text" name="postalCode" ng-model="formData.postalCode" class="form-control" required>
                                    </div>
                                </div>-->
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.country.$invalid && registerCoach.country.$touched}">
                                        <label>Country:</label>
                                        <select name="country" ng-model="formData.country" class="form-control" required>
                                                    <option value="UK">United Kingdom</option>
                                                    <option value="US">United States</option>
                                                    <option value="IN">India</option>
                                                </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.credential.$invalid && registerCoach.credential.$touched}">
                                        <label>Credential/Qualification:</label>
                                        <select name="credential" ng-model="formData.coaching" class="form-control" required>
                                            <option value="Level 1">Level 1</option>
                                            <option value="Level 2">Level 2</option>
                                            <option value="Level 3">Level 3</option>
                                            <option value="Level 4">Level 4</option>
                                            <option value="Level 5">Level 5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.year.$invalid && registerCoach.year.$touched}">
                                        <label>Years of Coaching:</label>
                                        <input type="number" placeholder="Years Coaching" name="yearsCoaching" ng-model="formData.yearsCoaching" min="1" max="99"
                                            class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.coaching.$invalid && registerCoach.coaching.$touched}">
                                        <label>Coaching Focus:</label> <br>
                                        <div class="tag-box-label" ng-repeat="c in coachingFocus">
                                            <input type="checkbox" id="{{c}}" checklist-model="formData.coachingFocus" checklist-value="c" name="coachingFocus">
                                            <label for="{{c}}">{{c}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.specialization.$invalid && registerCoach.specialization.$touched}">
                                        <label>Specialization:</label> <br>
                                        <div class="tag-box-label" ng-repeat="s in specialisations">
                                            <input type="checkbox" id="{{s}}" checklist-model="formData.specialisations" checklist-value="s" name="specialisations">
                                            <label for="{{s}}">{{s}}</label>
                                        </div>
                                        <div class="tag-box-label">
                                            <input type="checkbox" id="Others" ng-model="formData.specialisations.otherVal">
                                            <label for="Others">Others</label>
                                        </div>
                                        <div ng-if="formData.specialisations.otherVal">
                                            <input type="text" placeholder="Please mention others" name="others" ng-model="formData.specialisations.others" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': about.freeText.$invalid && about.freeText.$touched}">
                                        <label>About:</label>
                                        <textarea name="freeText" ng-model="formData.about" class="form-control" rows="4" cols="50" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.freeText.$invalid && registerCoach.freeText.$touched}">
                                        <label>Upload a CV:</label>
                                        <upload-image ng-model=formData.photo></upload-image>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="step2">

                        </div>

                        <div class="text-center">
                            <a class="btn btn-primary thick-font">Submit</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>