<div class="panel-content ng-scope">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">
                    <div class="widget-title">
                        <h3 class="text-uppercase">
                            Edit Profile
                        </h3>
                    </div>

                    <div class="round-form">
                        <form name="editprofile" ng-submit="editProfile(formData);" class="login-section">
                            <div class="edit-photo text-center">
                                <div class="img-hold">
                                    <span><img src="img/img-placeholder.png" alt="Sachin Tendulkar" class="dp"></span>
                                    <div class="icon-btn">
                                        <i class="fa fa-camera" aria-hidden="true"></i></div>
                                </div>
                            </div>
                            <div class="step1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'form-invalid': editprofile.name.$invalid && editprofile.name.$touched}">
                                            <label>Forename:</label>
                                            <input type="text" name="name" ng-model="formData.name" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'form-invalid': editprofile.surname.$invalid && editprofile.surname.$touched}">
                                            <label>Surname:</label>
                                            <input type="text" name="surname" ng-model="formData.surname" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'form-invalid': editprofile.email.$invalid && editprofile.email.$touched}">
                                            <label>Email Address:</label>
                                            <input type="email" name="email" ng-model="formData.email" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'form-invalid': editprofile.contact.$invalid && editprofile.contact.$touched}">
                                            <label>Phone Number:</label>
                                            <input type="tel" name="number" ng-model="formData.contact" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'form-invalid': editprofile.password.$invalid && editprofile.password.$touched}">
                                            <label>Password:</label>
                                            <input type="password" name="password" ng-model="formData.password" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'form-invalid': editprofile.password2.$invalid && editprofile.password2.$touched}">
                                            <label>Re-enter Password:</label>
                                            <input type="password" name="password2" ng-model="formData.password2" class="form-control" required>
                                        </div>
                                    </div>
                                </div>-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': editprofile.gender.$invalid && editprofile.gender.$touched}">
                                        <label>Gender:</label>
                                        <select name="gender" ng-model="formData.gender" class="form-control">
                                            <option selected value="male">Male</option>
                                            <option>Female</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': editprofile.dob.$invalid && editprofile.dob.$touched}">
                                        <label>Date of Birth:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup ng-model="editprofile.dob" is-open="popup.opened" datepicker-options="dateOptions"
                                                ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                            <button type="button" class="btn btn-default ht34" ng-click="popup.opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group" ng-class="{'form-invalid': editprofile.sport.$invalid && editprofile.sport.$touched}">
                                      <label>Sport:</label>
                                      <input type="text" name="sport" ng-model="formData.sport" class="form-control" required>
                                  </div>
                              </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': formData.country.$invalid && formData.country.$touched}">
                                        <label>Country:</label>
                                        <select name="country" ng-model="formData.country" class="form-control">
                                             <option value="ind">India</option>
                                            <option>Australia</option>
                                            <option>Canada</option>
                                            <option>New Zealand</option>
                                                <option>UK</option>
                                            <option>USA</option>
                                        </select>
                                    </div>
                                </div>
                                <!--<div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.year.$invalid && registerCoach.year.$touched}">
                                        <label>Years Coaching:</label>
                                        <input type="number" placeholder="Years Coaching" name="yearsCoaching" ng-model="formData.yearsCoaching" min="1" max="99"
                                            class="form-control" required>
                                    </div>
                                </div>-->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': formData.about.$invalid && formData.about.$touched}">
                                        <label>About:</label>
                                        <textarea name="freeText" ng-model="formData.about" class="form-control" rows="3" cols="50" maxlength="100" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': formData.achivements.$invalid && formData.achivements.$touched}">
                                        <label>Achivement / Personal Bests:</label>
                                        <textarea name="freeText" ng-model="formData.achivements" class="form-control" rows="3" cols="50" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': formData.review.$invalid && formData.review.$touched}">
                                        <label>Previous Season Review:</label>
                                        <textarea name="freeText" ng-model="formData.review" class="form-control" rows="3" cols="50" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="made-form text-center">
                                <button class="btn btn-blue btn-round" type="submit">Save</button>
                                <a class="btn btn-red btn-round" type="submit" ui-sref="athletes-profile">Cancel</a>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
