<div class="panel-content">
    <div class="profile-sec">
        <div class="info-holder">

            <div class="info-pic">
                <span><img src="img/img-placeholder.png" alt="Sachin Tendulkar" class="dp" /></span>
            </div>

            <div class="compny">
                <h3>Sachin Tendulkar</h3>
                <p>Level 3</p>
                <p><i class="ln-map-marker"></i> India</p>
            </div>

            <div class="basic-info r10">
              <div class="info-item">
                  <p>April 24,1973</p>
                  <h1>Date of Birth</h1>
              </div>
              <div class="info-item">
                  <p>Male</p>
                  <h1>Gender</h1>
              </div>
                <div class="info-item">
                    <p>50</p>
                    <h1>Coaching Limit</h1>
                </div>
                <div class="info-item">
                    <p>2 years</p>
                    <h1>Years Coaching</h1>
                </div>
                <div class="info-item">
                    <p>$50 (p.m)</p>
                    <h1>Coach Asking Price</h1>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="pie-chart-sec profile-detail">
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Coaching Focus</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p>
                                <span class="tag-box">Sprinting</span>
                                <span class="tag-box">Throws</span>
                                <span class="tag-box">Hill/Fell Running</span>
                                <span class="tag-box">Cross Country</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Specialisations</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p><span class="tag-box">Mentored practice</span>
                                <span class="tag-box">Strength and conditioning</span>
                                <span class="tag-box">Eating disorders</span>
                                <span class="tag-box">Children in Athletics</span>
                                <span class="tag-box">Fitness in Running and Walking</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Experience / Coaching Credentials</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum
                                eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias
                                veniam, ut, libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam,
                                molestias veniam, ut, magnam.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Expertise</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum
                                eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias
                                veniam, ut, magnam.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <p class="text-uppercase p-title">Coaching Achievements</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum
                                eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias
                                veniam, ut, magnam.</p>
                        </div>
                    </div>
                    <div class="profile-btn form-group text-center">
                        <a class="btn btn-success">Subscribe</a>
                        <a class="btn btn-danger" ui-sref="athlete-search-coach">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
