<div class="panel-content">
    <div class="profile-sec">
        <div class="info-holder">
            <div class="info-pic">
                <span><img src="img/img-placeholder.png" alt="Sachin Tendulkar" class="dp" /></span>
            </div>
            <div class="compny">
                <h3>Virat Kholi</h3>
                <p>Cricket</p>
                <p><i class="ln-map-marker"></i> Mumbai, India</p>
            </div>

            <div class="basic-info">
                <div class="info-item">
                    <p>Male</p>
                    <h1>Gender</h1>
                </div>
                <div class="info-item">
                    <p>+91 9833930331</p>
                    <h1>Phone Number</h1>
                </div>

                <div class="info-item">
                    <p>November 5, 1988</p>
                    <h1>Date of Birth</h1>
                </div>
            </div>

            <button class="btn-right btn btn-success" ui-sref="athletes-profile-edit"><i class="ln-pencil"></i></button>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="widget">
                <div class="pie-chart-sec profile-detail">
                    <!--<div class="row">
                        <div class="col-md-3">
                            <p class="text-uppercase p-title">Gender</p>
                        </div>
                        <div class="col-md-9">
                            <p>Male</p>
                        </div>
                    </div>-->
                    <!-- <div class="row">
                        <div class="col-md-3">
                            <p class="text-uppercase p-title">Date of Birth</p>
                        </div>
                        <div class="col-md-9">
                            <p>November 5, 1988</p>
                        </div>
                    </div> -->
                    <!--<div class="row">
                            <div class="col-md-3">
                                <p class="text-uppercase p-title">Phone Number</p>
                            </div>
                            <div class="col-md-9">
                                <p>+919833930331</p>
                            </div>
                        </div>-->
                    <div class="row">
                        <div class="col-md-3">
                            <p class="text-uppercase p-title">Email Address</p>
                        </div>
                        <div class="col-md-9">
                            <p>athlete@gmail.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="text-uppercase p-title">Event(s)</p>
                        </div>
                        <div class="col-md-9">
                            <p>
                              One Day Internationals, Test, T20
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="text-uppercase p-title">Details</p>
                        </div>
                        <div class="col-md-9">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias veniam, ut, libero id pariatur
                                nam quia minima itaque molestiae sequi maxime sunt totam, molestias veniam, ut, magnam.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="text-uppercase p-title">Achievement / Personal Bests</p>
                        </div>
                        <div class="col-md-9">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias veniam, ut, magnam.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="text-uppercase p-title">Previous Season Review</p>
                        </div>
                        <div class="col-md-9">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias veniam, ut, magnam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget">
                <div class="pie-chart-sec profile-detail">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-uppercase p-title mb5">Personal Goals</p>
                        </div>
                        <div class="col-md-12">
                            <div class="personal-goals">
                                <p class=" mb0 p-title">
                                    World Cup,
                                </p>
                                <p class="mb5 small date-from-to">
                                    <span class="mr-5">
                                          <i class="ln ln-calendar"></i>
                                          23 April,2018
                                        </span> <span class="dash">-</span>
                                    <span>
                                          <i class="ln ln-calendar"></i>
                                          25 June,2018
                                    </span>
                                </p>
                                <p class="text-justify mb10">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum eum quam libero id pariatur.
                                </p>
                            </div>
                            <div class="personal-goals">
                                <p class=" mb0 p-title">
                                    Champions Trophy
                                </p>
                                <p class="mb5 small date-from-to">
                                    <span class="mr-5">
                                          <i class="ln ln-calendar"></i>
                                          30 April,2019
                                        </span> <span class="dash">-</span>
                                    <span>
                                          <i class="ln ln-calendar"></i>
                                          5 June,2019
                                    </span>
                                </p>
                                <p class="text-justify mb10">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum eum quam libero id pariatur.
                                </p>
                            </div>
                            <div class="personal-goals">
                                <p class=" mb0 p-title">
                                    World Cup,
                                </p>
                                <p class="mb5 small date-from-to">
                                    <span class="mr-5">
                                          <i class="ln ln-calendar"></i>
                                          23 April,2018
                                        </span> <span class="dash">-</span>
                                    <span>
                                          <i class="ln ln-calendar"></i>
                                          25 April,2018
                                    </span>
                                </p>
                                <p class="text-justify mb10">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
