<div class="athlete-blog-detail">
  <div class="panel-content ng-scope">
      <div class="row">
          <div class="col-md-12">
              <div class="widget">
                  <div class="table-area">
                      <div class="row">
                          <div class="col-md-9">
                            <div class="widget-title">
                                <h3 class="text-uppercase">The Strongest Woman I’ve Ever Known</h3>
                                <h5>
                                  by Jhon Hanse
                                </h5>
                            </div>
                              <div class="blog-block">
                                  <div class="blog-img">
                                      <img src="img/ground.jpg" class="img-responsive" alt="">
                                  </div>
                                  <div class="blog-title">
                                      <div class="min-hgt35">
                                          <div class="more-info pull-right">
                                              <span class="small-text">3rd November 2015</span>
                                          </div>
                                          <div class="rate-card">
                                              <span class="rate-card rateup" ng-class="{'up': like==1}" ng-click="goLike(1)"><i class="ln ln-thumbs-up"></i>4</span>
                                              <span class="rate-card ratedown"><i class="ln ln-thumbs-down" ng-class="{'dn': like==-1}" ng-click="goLike(-1)"></i>1</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="blog-cont text-justify">
                                      <p>Knowledge is power, and we were arming ourselves for the toughest fight of our lives.</p>
                                      <p>See, I come from a long line of warriors, as my mom used to say. When cancer struck my aunties we didn’t have time to grieve because we were too busy fighting the disease.</p>
                                      <p>Each time the disease struck, we thought, This is gonna be the one that we beat, this is gonna be the one that we beat, this is gonna be the one that we beat. We knew the protocols — doctors, chemo, estrogen shot, whatever
                                          was needed to be healthy and fighting. We were always optimistic. Each battle lasted a little longer than the one before, but we never won.In 2004 it was my mom’s turn to fight. Only she didn’t tell me.
                                      </p>
                                      <p>My mom was diagnosed at the beginning of the year, but she didn’t tell me about it until the summer, after my junior season at Memphis.</p>
                                      <p>I was pissed. I felt like she was going through this battle herself and had robbed us of the opportunity to be her support system. When I asked her why she waited to tell us she simply said, “Hey, you were busy. I was
                                          busy.”
                                      </p>
                                      <p>That was how strong my mom was. She didn’t want to burden anybody else. But it wasn’t until years later that I understood how truly strong she was.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="blog-head">
                                  <h4>
                                    Other Blogs
                                  </h4>
                              </div>
                              <div class="other-blog">
                                <a ui-ref="coach-blog-detail" ng-repeat="d in data">
                                  <div class="blog-list">
                                      <div class="blog-body">
                                          <div class="blog-title">
                                              <h4 class="card-title" ui-sref="athlete-blog-detail">
                                              {{d.title}}
                                          </h4>
                                              <h5>
                                            {{d.author}}
                                          </h5>
                                          </div>
                                          <div class="blog-img" ui-sref="athlete-blog-detail">
                                              <img src="{{d.img}}" class="img-responsive" alt="">
                                          </div>
                                          <div class="blog-title">
                                              <div class="rating-date" ui-sref="athlete-blog-detail">
                                                  <span class="small-text">{{d.date}}</span>
                                              </div>
                                              <p class="card-cont" ui-sref="athlete-blog-detail" ng-bind-html="d.content">
                                                  <!-- {{}} -->
                                              </p>
                                              <div class="rating-blog">
                                                <span class="rate-card rateup" ng-class="{'up': like==1}" ng-click="goLike(1)"><i class="ln ln-thumbs-up"></i>{{d.ratingup}}</span>
                                                <span class="rate-card ratedown"><i class="ln ln-thumbs-down" ng-class="{'dn': like==-1}" ng-click="goLike(-1)"></i>{{d.ratingdown}}</span>
                                              </div>
                                              <div class="clearfix"></div>
                                          </div>
                                      </div>
                                  </div>
                                </a>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
