<div class="athlete-blog">
    <div class="panel-content ng-scope">
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="table-area">
                        <div class="widget-title">
                            <h3 class="text-uppercase">Blogs</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="d in data">
                                <div class="blog-list">
                                    <div class="blog-body">
                                        <div class="blog-title">
                                            <h4 class="card-title" ui-sref="athlete-blog-detail">
                                            {{d.title}}
                                        </h4>
                                            <h5>
                                          {{d.author}}
                                        </h5>
                                        </div>
                                        <div class="blog-img" ui-sref="athlete-blog-detail">
                                            <img src="{{d.img}}" class="img-responsive" alt="">
                                        </div>
                                        <div class="blog-title">
                                            <div class="rating-date" ui-sref="athlete-blog-detail">
                                                <span class="small-text">{{d.date}}</span>
                                            </div>
                                            <p class="card-cont" ui-sref="athlete-blog-detail" ng-bind-html="d.content">
                                                <!-- {{}} -->
                                            </p>
                                            <div class="rating-blog">
                                                <span class="rate-card rateup"><i class="ln ln-thumbs-up"></i>{{d.ratingup}}</span>
                                                <span class="rate-card ratedown"><i class="ln ln-thumbs-down"></i>{{d.ratingdown}}</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
