<div class="acount-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="contact-sec no-pad-up some-pad">
                    <div class="login-tab text-center">
                        <ul class="ul-justified ul-nav registration-nav">
                            <li class="active">Athletes</li>
                        </ul>
                    </div>
                    <form name="registerAthletes" ng-submit="register(formData);" class="login-section">
                        <p>All the fields below are mandatory.</p>
                        <div class="step1">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerAthletes.name.$invalid && registerAthletes.name.$touched}">
                                        <label>Forename:</label>
                                        <input type="text" name="name" ng-model="formData.name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerAthletes.surname.$invalid && registerAthletes.surname.$touched}">
                                        <label>Surname:</label>
                                        <input type="text" name="surname" ng-model="formData.surname" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerAthletes.email.$invalid && registerAthletes.email.$touched}">
                                        <label>Email Address:</label>
                                        <input type="email" name="email" ng-model="formData.email" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerAthletes.dob.$invalid && registerAthletes.dob.$touched}">
                                        <label>Date of Birth:</label>
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup ng-model="registerAthletes.dob" is-open="popup.opened" datepicker-options="dateOptions"
                                                ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                              <button type="button" class="btn btn-default ht34" ng-click="popup.opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerAthletes.password.$invalid && registerAthletes.password.$touched}">
                                        <label>Password:</label>
                                        <input type="password" name="password" ng-model="formData.password" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerAthletes.password2.$invalid && registerAthletes.password2.$touched}">
                                        <label>Confirm Password:</label>
                                        <input type="password" name="password2" ng-model="formData.password2" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerAthletes.gender.$invalid && registerAthletes.gender.$touched}">
                                      <label>Gender:</label>
                                      <select name="gender" ng-model="formData.gender" class="form-control" required>
                                          <option  value=""  selected disabled>Select</option>
                                          <option value="male">Male</option>
                                          <option value="female">Female</option>
                                      </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'form-invalid': registerAthletes.checkit.$invalid && registerAthletes.checkit.$touched}">
                                    <div class="upload-btn check-cust">
                                      <input type="checkbox" id="checkits" ng-model="formData.checkit"/>
                                      <label for="checkits">I agree to the Coach Mentor <a ui-sref="terms-services">Terms of Service</a> and <a ui-sref="privacy-policy"> Privacy Policy</a>.</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <a class="btn btn-primary thick-font">Submit</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
