<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p>Copyright &copy; {{template.year}}. All Right Resvered.</p>
            </div>
            <div class="col-md-7">
                <div class="footer-menu">
                    <div class="pull-right">
                        <ul class="list-inline">
                            <li><a href="">FAQ&#39;s</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Terms of Service</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <p>Copyright &copy; {{template.year}}. All Right Resvered.</p>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a>.</p>
                </div>
            </div> -->
        </div>
    </div>
</footer>