<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5">
              <div class="footer-menu">
                  <p>Copyright Coach Mentor &copy; {{template.year}}.</p>
              </div>
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="footer-menu">
                    <div class="text-right">
                        <ul class="list-inline">
                            <li><a ui-sref="faq">FAQ&#39;s</a></li>
                            <li><a ui-sref="contact-us">Contact Us</a></li>
                            <li><a ui-sref="terms-services">Terms of Service</a></li>
                            <li><a ui-sref="privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
