<div class="account-user-sec">
    <div class="account-sec">
        <div class="account-top-bar">
            <div class="container">
                <div class="logo">
                    <a ui-sref="login" title="Coach Mentor"><img src="img/logo.png" alt="Coach Mentor" height="45"></a>
                </div>
            </div>
        </div>
        <div class="acount-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="contact-sec no-pad-up">
                            <div class="login-tab text-center">
                                <ul class="ul-justified ul-nav">
                                    <li class="active">Athlete</li>
                                    <li>Coach</li>
                                    <li>Author</li>
                                </ul>
                            </div>
                            <form name="login" class="login-section">
                                <p class="text-center">Fill in you details to login or <a ui-sref="register">Register Now</a></p>
                                <div class="form-group">
                                    <input type="email" class="form-control thick-font" placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control thick-font" placeholder="Password">
                                </div>
                                <div class="text-right">
                                    Forgot Password ?
                                </div>
                                <div class="text-center">
                                    <a class="btn btn-primary thick-font" ui-sref="coach-profile">Log In</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>