<div class="filter-all">
    <div class="modal-header blue-bg">
        <div class="pull-right">
            <button class="btn btn-clear" ng-click="$dismiss()">
    <i class="ln-cross"></i>
  </button>
        </div>
        <h5 class="modal-title">Filter By</h5>
    </div>
    <div class="filter-cont">
        <div class="part p1">
            <ul class="list-unstyled">
                <li ng-click="changeFilter($index)" ng-class="{'in':filterActive == $index}" ng-repeat="f in filterData">{{f.name}}</li>
            </ul>
        </div>
        <div class="part p2">
            <ul ng-repeat="f in filterData" ng-show="filterActive == $index" class="list-unstyled">
                <li class="upload-btn check-cust" ng-repeat="v in f.value">
                    <input type="checkbox" id="{{v}}" ng-model="selectedFilters[v]" />
                    <label for="{{v}}">{{v}}</label>
                </li>
                <!-- <li ng-model="selectedFilters[v]" ng-repeat="v in f.value">{{v}}</li> -->
            </ul>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary">Apply</button>
    </div>
</div>
