<section class="athletes-requests">
    <div class="modal-header blue-bg">
        <div class="pull-right">
            <button class="btn btn-clear" ng-click="$dismiss()">
      <i class="ln-cross"></i>
    </button>
        </div>
        <h5 class="modal-title">Athletes Requests<span>2</span></h5>

    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-3">
                <div class="accept-athletes">
                    <div class="user-img text-center">
                        <img src="img/sachin.png" class="dp" alt="Rahul Dravid">
                    </div>
                    <div class="name-cont">
                        <h5>Sachin Tendulkar</h5>
                        <p>Cricket</p>
                    </div>
                    <div class="user-dtl">
                        <div> <i class="fa fa-calendar" aria-hidden="true"></i> 24 April 1973</div>
                        <div> <i class="fa fa-user" aria-hidden="true"></i> Male</div>
                        <!--<div> <i class="fa fa-trophy" aria-hidden="true"></i> Cricket</div>    -->
                    </div>

                    <div class="checkin-btn text-right">
                        <a class="btn danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                        <a class="btn sucess"> <i class="fa fa-check" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="accept-athletes">
                    <div class="user-img text-center">
                        <img src="img/sachin.png" class="dp" alt="Rahul Dravid">
                    </div>
                    <div class="name-cont">
                        <h5>Sachin Tendulkar</h5>
                        <p>Cricket</p>
                    </div>
                    <div class="user-dtl">
                        <div> <i class="fa fa-calendar" aria-hidden="true"></i> 24 April 1973</div>
                        <div> <i class="fa fa-user" aria-hidden="true"></i> Male</div>
                        <!--<div> <i class="fa fa-trophy" aria-hidden="true"></i> Cricket</div>    -->
                    </div>

                    <div class="checkin-btn text-right">
                        <a class="btn danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                        <a class="btn sucess"> <i class="fa fa-check" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="accept-athletes">
                    <div class="user-img text-center">
                        <img src="img/sachin.png" class="dp" alt="Rahul Dravid">
                    </div>
                    <div class="name-cont">
                        <h5>Sachin Tendulkar</h5>
                        <p>Cricket</p>
                    </div>
                    <div class="user-dtl">
                        <div> <i class="fa fa-calendar" aria-hidden="true"></i> 24 April 1973</div>
                        <div> <i class="fa fa-user" aria-hidden="true"></i> Male</div>
                        <!--<div> <i class="fa fa-trophy" aria-hidden="true"></i> Cricket</div>    -->
                    </div>

                    <div class="checkin-btn text-right">
                        <a class="btn danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                        <a class="btn sucess"> <i class="fa fa-check" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="accept-athletes">
                    <div class="user-img text-center">
                        <img src="img/sachin.png" class="dp" alt="Rahul Dravid">
                    </div>
                    <div class="name-cont">
                        <h5>Sachin Tendulkar</h5>
                        <p>Cricket</p>
                    </div>
                    <div class="user-dtl">
                        <div> <i class="fa fa-calendar" aria-hidden="true"></i> 24 April 1973</div>
                        <div> <i class="fa fa-user" aria-hidden="true"></i> Male</div>
                        <!--<div> <i class="fa fa-trophy" aria-hidden="true"></i> Cricket</div>    -->
                    </div>

                    <div class="checkin-btn text-right">
                        <a class="btn danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                        <a class="btn sucess"> <i class="fa fa-check" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="accept-athletes">
                    <div class="user-img text-center">
                        <img src="img/sachin.png" class="dp" alt="Rahul Dravid">
                    </div>
                    <div class="name-cont">
                        <h5>Sachin Tendulkar</h5>
                        <p>Cricket</p>
                    </div>
                    <div class="user-dtl">
                        <div> <i class="fa fa-calendar" aria-hidden="true"></i> 24 April 1973</div>
                        <div> <i class="fa fa-user" aria-hidden="true"></i> Male</div>
                        <!--<div> <i class="fa fa-trophy" aria-hidden="true"></i> Cricket</div>    -->
                    </div>

                    <div class="checkin-btn text-right">
                        <a class="btn danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                        <a class="btn sucess"> <i class="fa fa-check" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</section>