<form name="addCompetition" ng-submit="register(formData);">
    <div class="modal-header blue-bg">
        <div class="pull-right">
            <button class="btn btn-clear" ng-click="$dismiss()">
      <i class="ln-cross"></i>
    </button>
        </div>
        <h5 class="modal-title">Add Competition</h5>
    </div>
    <div class="modal-body round-form">
        <!--<p>All the below fields are mandatory.</p>-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'form-invalid': addCompetition.name.$invalid && addCompetition.name.$touched}">
                    <label>Name:</label>
                    <input type="text" name="name" ng-model="formData.name" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{'form-invalid': addCompetition.location.$invalid && addCompetition.location.$touched}">
                    <label>Location:</label>
                    <input type="text" name="location" ng-model="formData.location" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'form-invalid': addCompetition.startdate.$invalid && addCompetition.startdate.$touched}">
                    <label>Start:</label>
                    <input type="datetime-local" name="startdate" ng-model="formData.startdate" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{'form-invalid': addCompetition.enddate.$invalid && addCompetition.enddate.$touched}">
                    <label>End:</label>
                    <input type="datetime-local" name="enddate" ng-model="formData.enddate" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" ng-class="{'form-invalid': addCompetition.level.$invalid && addCompetition.level.$touched}">
                    <label>Level:</label>
                    <select name="level" class="form-control" required>
                        <option value='' disabled selected>Select</option>
                        <option value="International">International</option>
                        <option value="National">National</option>
                        <option value="State level">State level</option>
                        <option value="City level">City level</option>
                        <option value="Local">Local</option>
                    </select> </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-blue btn-round" type="submit" ng-disabled="addCompetition.$invalid">save</button>
        <button class="btn btn-red btn-round" type="submit" ng-disabled="addCompetition.$invalid">cancel</button>
    </div>
</form>