<section class="athletes-requests">
    <div class="modal-header blue-bg">
        <div class="pull-right">
            <button class="btn btn-clear" ng-click="$dismiss()">
      <i class="ln-cross"></i>
    </button>
        </div>
        <h5 class="modal-title">Athletes Requests<span>2</span></h5>

    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="accept-athletes">
                    <div class="user-img inline-block">
                        <img src="img/varun-khali.png" class="dp" alt="Rahul Dravid">
                    </div>
                    <span>Rahul Dravid</span>
                    <div class="checkin-btn">
                        <a class="btn btn-success">Accept</a>
                        <a class="btn btn-danger">Reject</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="accept-athletes">
                    <div class="user-img inline-block">
                        <img src="img/varun-khali.png" class="dp" alt="Rahul Dravid">
                    </div>
                    <span>Rahul Dravid</span>
                    <div class="checkin-btn">
                        <a class="btn btn-success">Accept</a>
                        <a class="btn btn-danger">Reject</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="accept-athletes">
                    <div class="user-img inline-block">
                        <img src="img/varun-khali.png" class="dp" alt="Rahul Dravid">
                    </div>
                    <span>Rahul Dravid</span>
                    <div class="checkin-btn">
                        <a class="btn btn-success">Accept</a>
                        <a class="btn btn-danger">Reject</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="accept-athletes">
                    <div class="user-img inline-block">
                        <img src="img/varun-khali.png" class="dp" alt="Rahul Dravid">
                    </div>
                    <span>Rahul Dravid</span>
                    <div class="checkin-btn">
                        <a class="btn btn-success">Accept</a>
                        <a class="btn btn-danger">Reject</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>