<section class="athletes-requestview">
    <div class="panel-content ng-scope">
        <div class="widget">
            <div class="table-area">
                <div class="accept-detail">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="accept-detail-head">
                                <div class="img-holder left text-center">
                                    <img ng-src="{{athleteCoaching.image}}" class="dp" alt="Rahul Dravid">
                                </div>
                                <div class="name-cont text-center">
                                    <h5>{{athleteCoaching.name}} {{athleteCoaching.surname}}</h5>
                                    <p>{{athleteCoaching.age}} years, {{athleteCoaching.location}}</p>
                                    <button class="btn btn-danger btn-round" ng-click="openUnsubscribe()">Unsubscribe</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="right-cont">
                                <div class="user-dtl">
                                    <div class="user-dtl-cont">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div>
                                                    <label>    Subscription Type:</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <span>Monthly</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-dtl-cont">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div>
                                                    <label> Accepted Since: </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <span>{{athleteCoaching.acceptedDate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-dtl-cont">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div>
                                                    <label>Next renewal:</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <span>{{athleteCoaching.renewalDate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-dtl-cont">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div>
                                                    <label>   Sports:</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <span class="tag-box" ng-repeat="s in athleteCoaching.sports">{{s}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-dtl-cont">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div>
                                                    <label>    Events:</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <span class="tag-box" ng-repeat="e in athleteCoaching.events">{{e}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>