<div class="panel-content">
    <div class="profile-sec">
        <div class="info-holder">
            <div class="info-pic">
                <span><img src="img/img-placeholder.png" alt="Sachin Tendulkar" class="dp" /></span>
            </div>
            <div class="compny">
                <h3>Virat Kholi</h3>
                <p>Cricket</p>
                <p><i class="ln-map-marker"></i> India</p>
            </div>
            <div class="basic-info">
                <div class="info-item">
                    <p>Male</p>
                    <h1>Gender</h1>
                </div>
                <div class="info-item">
                    <p>November 5, 1988</p>
                    <h1>Date of Birth</h1>
                </div>
            </div>
              <!-- <button class="btn-right btn btn-success btn-right-btn1"><i class="fa fa-check"></i></button>
                <button class="btn-right btn btn-danger btn-right-btn2"><i class="fa fa-times"></i></button> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="pie-chart-sec profile-detail">
                    <!-- <div class="row">
                        <div class="col-md-2">
                            <p class="text-uppercase p-title">Date of Birth</p>
                        </div>
                        <div class="col-md-10">
                            <p>November 5, 1988</p>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-2">
                            <p class="text-uppercase p-title">Event(s)</p>
                        </div>
                        <div class="col-md-10">
                            <p>
                              One Day Internationals, Test, T20
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p class="text-uppercase p-title">Details</p>
                        </div>
                        <div class="col-md-10">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias veniam, ut, libero id pariatur
                                nam quia minima itaque molestiae sequi maxime sunt totam, molestias veniam, ut, magnam.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p class="text-uppercase p-title">Achievement / Personal Bests</p>
                        </div>
                        <div class="col-md-10">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias veniam, ut, magnam.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p class="text-uppercase p-title">Previous Season Review</p>
                        </div>
                        <div class="col-md-10">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias veniam, ut, magnam.</p>
                        </div>
                    </div>
                    <div class="profile-btn form-group text-center">
                        <a class="btn btn-success"> <i class="fa fa-check" aria-hidden="true"></i> Accept</a>
                        <a class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Reject</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
