<div class="panel-content ng-scope">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">
                    <div class="widget-title">
                        <h3 class="text-uppercase">{{title}}</h3>
                    </div>
                    <form name="createBlogCoach" ng-submit="blog(formData);" class="login-section">
                        <div class="step1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': createBlogCoach.freeText.$invalid && createBlogCoach.freeText.$touched}">
                                        <label>Upload Image: <i class="fa fa-info-circle" aria-hidden="true" uib-popover="You can select an image to upload applicable to your blog subject" popover-trigger="'mouseenter'"></i></label>
                                        <div class="upload-btn">
                                            <upload-image ng-model=formData.photo></upload-image>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': createBlogCoach.name.$invalid && createBlogCoach.name.$touched}">
                                        <label>Title:</label>
                                        <input type="text" name="name" ng-model="formData.name" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 field">
                                    <div class="form-group">
                                        <label>Content: <i class="fa fa-info-circle" aria-hidden="true" uib-popover="Free text, You can cut/copy/paste text from external documents" popover-trigger="'mouseenter'"></i></label>
                                        <textarea ui-tinymce="tinymceOptions" ng-model="formData.content"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': createBlogCoach.players.$invalid && createBlogCoach.players.$touched}">
                                        <label>Add Players: <i class="fa fa-info-circle" aria-hidden="true" uib-popover="Select the athletes from your coaching list that you would like to send the Blog too" popover-trigger="'mouseenter'"></i></label>
                                        <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="formData.player" theme="bootstrap" sortable="true"
                                            ng-disabled="disabled" title="Add Players">
                                            <ui-select-match placeholder="Select Players..."><img ng-src="{{$item.image}} " alt="" class="img-select"> {{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="player in players | filter:$select.search">
                                                <img src="{{player.image}} " alt="" class="img-drop">{{player.name}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="made-form text-center login-section ">
                                <button class="btn btn-blue btn-round" type="submit">Publish</button>
                                <a class="btn btn-red btn-round" type="submit" ui-sref="coach-blog">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
