<div class="panel-content ng-scope">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">
                    <div class="widget-title">
                        <div class="pull-right">
                            <a class="btn btn-primary btn-relative" ui-sref="coach-blog-create">Create Blog
                            </a>
                        </div>
                        <h3 class="text-uppercase">Blogs</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="d in data">
                            <div class="blog-list">
                                <div class="blog-body">
                                    <div class="blog-img" ui-sref="coach-blog-detail">
                                        <img src="{{d.img}}" class="img-responsive" alt="">
                                    </div>
                                    <div class="blog-title">
                                        <h4 class="card-title" ui-sref="coach-blog-detail" ui-sref="coach-blog-detail">
                                            {{d.title}}
                                        </h4>
                                          <div class="rating-date">
                                        <span class="small-text">{{d.date}}</span>
                                      </div>
                                            <div class="rating-blog">
                                                <span class="rate-card rateup"><i class="ln ln-thumbs-up"></i>{{d.ratingup}}</span>
                                                <span class="rate-card ratedown"><i class="ln ln-thumbs-down"></i>{{d.ratingdown}}</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                </div>
                                <div class="blog-delete">
                                    <a class="btn btn-blue" tooltip-placement="bottom" uib-tooltip="Edit" ui-sref="coach-blog-edit"><span class="ln ln-pencil" ></span></a>
                                    <a class="btn btn-red" tooltip-placement="bottom" uib-tooltip="Delete"><span class="ln ln-trash2"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
