<section class="athletes-requestview">
    <div class="panel-content ng-scope">
        <div class="widget">
            <div class="table-area">
                <div class="accept-detail">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="accept-detail-head">
                                <div class="img-holder left text-center">
                                    <img ng-src="{{athleteCoaching.image}}" class="dp" alt="Rahul Dravid">
                                </div>
                                <div class="name-cont text-center">
                                    <h5>{{athleteCoaching.name}} {{athleteCoaching.surname}}</h5>
                                    <p>{{athleteCoaching.age}} years, {{athleteCoaching.location}}</p>
                                    <button class="btn btn-danger btn-round" ng-click="openUnsubscribe()">Unsubscribe</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="right-cont">
                                <div class="user-dtl">
                                    <div class="user-dtl-cont">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div>
                                                    <label>    Subscription Type:</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <span>Monthly</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-dtl-cont">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div>
                                                    <label> Accepted Since: </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <span>{{athleteCoaching.acceptedDate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-dtl-cont">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div>
                                                    <label>Next renewal:</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <span>{{athleteCoaching.renewalDate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-dtl-cont">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label> Event(s)  </label>
                                        </div>
                                        <div class="col-md-9">
                                            <span>
                                                One Day Internationals, Test, T20
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-dtl-cont">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label> About</label>
                                        </div>
                                        <div class="col-md-9">
                                            <span class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias veniam, ut, libero id pariatur
                                                nam quia minima itaque molestiae sequi maxime sunt totam, molestias veniam, ut, magnam.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-dtl-cont">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label> Achievement / Personal Bests</label>
                                        </div>
                                        <div class="col-md-9">
                                            <span class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias veniam, ut, magnam.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-dtl-cont">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label> Previous Season Review</label>
                                        </div>
                                        <div class="col-md-9">
                                            <span class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis laboriosam ipsum eum quam libero id pariatur nam quia minima itaque molestiae sequi maxime sunt totam, molestias veniam, ut, magnam.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
