<div class="acount-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="contact-sec no-pad-up some-pad">
                    <div class="login-tab text-center">
                        <ul class="ul-justified ul-nav registration-nav">
                            <li class="active">Coach Registration</li>
                        </ul>
                    </div>
                    <form name="registerCoach" ng-submit="register(formData);" class="login-section">
                        <p>All the fields below are mandatory.</p>

                        <div class="step1">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.name.$invalid && registerCoach.name.$touched}">
                                        <label>Forename:</label>
                                        <input type="text" name="name" ng-model="formData.name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.surname.$invalid && registerCoach.surname.$touched}">
                                        <label>Surname:</label>
                                        <input type="text" name="surname" ng-model="formData.surname" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.email.$invalid && registerCoach.email.$touched}">
                                        <label>Email Address:</label>
                                        <input type="email" name="email" ng-model="formData.email" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.contact.$invalid && registerCoach.contact.$touched}">
                                        <label>Phone Number:</label><br>
                                        <!-- <input type="tel" name="contact" ng-model="formData.contact" class="tel-input form-control" required> -->
                                        <input type="tel" name="contact" ng-model="formData.contact" class="tel-input form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.password.$invalid && registerCoach.password.$touched}">
                                        <label>Password:</label>
                                        <input type="password" name="password" ng-model="formData.password" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.password2.$invalid && registerCoach.password2.$touched}">
                                        <label>Confirm Password:</label>
                                        <input type="password" name="password2" ng-model="formData.password2" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.gender.$invalid && registerCoach.gender.$touched}">
                                        <label>Gender:</label>
                                        <select name="gender" ng-model="formData.gender" class="form-control" required>
                                            <option  value=""  selected disabled>Select</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.dob.$invalid && registerCoach.dob.$touched}">
                                        <label>Date of Birth:</label>
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup ng-model="registerCoach.dob" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                  <button type="button" class="btn btn-default ht34" ng-click="popup.opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.country.$invalid && registerCoach.country.$touched}">
                                        <label>Country:</label>
                                        <select name="country" ng-model="formData.country" class="form-control">
                                          <option value="" selected>Select</option>
                                          <option value="{{c.name}}" ng-repeat="c in countries">{{c.name}}</option>
                                        </select>
                                        <!-- <select name="country" ng-model="formData.country" class="form-control" required>
                                             <option value=""  selected disabled>Select</option>
                                                    <option value="UK">United Kingdom</option>
                                                    <option value="US">United States</option>
                                                    <option value="IN">India</option>
                                                </select> -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.credential.$invalid && registerCoach.credential.$touched}">
                                        <label>Credentials / Qualifications:</label>
                                        <select name="credential" ng-model="formData.coaching" class="form-control" required>
                                             <option value="" disabled selected >Select</option>
                                            <option value="Level 1">Level 1</option>
                                            <option value="Level 2">Level 2</option>
                                            <option value="Level 3">Level 3</option>
                                            <option value="Level 4">Level 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.years.$invalid && registerCoach.years.$touched}">
                                        <label>Years Coaching: <i class="fa fa-info-circle" aria-hidden="true" uib-popover="The total number of years you have been coaching" popover-trigger="'mouseenter'"></i></label>
                                        <div class="form-group">
                                            <input type="number" name="years" ng-model="formData.years" min="1" max="99" class="form-control" required onlyDigits>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.coaching.$invalid && registerCoach.coaching.$touched}">
                                        <label>Coaching Focus: <i class="fa fa-info-circle" aria-hidden="true" uib-popover="Your main area of coaching focus – you can select more than one of these options" popover-trigger="'mouseenter'"></i></label> </label>
                                        <br>
                                        <div class="tag-box-label" ng-repeat="c in coachingFocus">
                                            <input type="checkbox" id="{{c}}" checklist-model="formData.coachingFocus" checklist-value="c" name="coachingFocus">
                                            <label for="{{c}}">{{c}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.specialization.$invalid && registerCoach.specialization.$touched}">
                                        <label>Specialisations: <i class="fa fa-info-circle" aria-hidden="true" uib-popover="Any specialisations that you have – leave blank if none apply" popover-trigger="'mouseenter'"></i></label> <br>
                                        <div class="tag-box-label" ng-repeat="s in specialisations">
                                            <input type="checkbox" id="{{s}}" checklist-model="formData.specialisations" checklist-value="s" name="specialisations">
                                            <label for="{{s}}">{{s}}</label>
                                        </div>
                                        <div class="tag-box-label">
                                            <input type="checkbox" id="Others" ng-model="formData.specialisations.otherVal">
                                            <label for="Others">Others</label>
                                        </div>
                                        <div ng-if="formData.specialisations.otherVal">
                                            <input type="text" placeholder="Please mention others" name="others" ng-model="formData.specialisations.others" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 field">
                                    <label>Free Text CV: <i class="fa fa-info-circle" aria-hidden="true" uib-popover=" Either write a more detailed summary of you and your coaching achievements OR upload from a file that you can select Standard Information icon pop up defining what the field content needs to include- required on all above fields (if you click the icon a pop up comes up with description)
                " popover-trigger="'mouseenter'"></i></label>
                                    <div class="form-group" ng-class="{'form-invalid': about.freeText.$invalid && about.freeText.$touched}">
                                        <textarea ui-tinymce="tinymceOptions" ng-model="formData.about" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center bold"><label for="">- or -</label></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.freeText.$invalid && registerCoach.freeText.$touched}">
                                        <div class="upload-btn">
                                            <label>Upload a CV:</label>
                                            <upload-image ng-model=formData.photo></upload-image>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'form-invalid': registerCoach.checkit.$invalid && registerCoach.checkit.$touched}">
                                        <div class="upload-btn check-cust">
                                            <input type="checkbox" id="checkits" ng-model="formData.checkit" />
                                            <label for="checkits">I agree to the Coach Mentor <a ui-sref="terms-services">Terms of Service</a> and <a ui-sref="privacy-policy"> Privacy Policy</a>.</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-primary thick-font">Register Now</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
